*.egg-info
*.pyc
*.pyo
*.mo
*.swp
*~
.coverage
.installed.cfg
.mr.developer.cfg
bin/
coverage/
develop-eggs/
parts/
src/
dist/
downloads/
eggs/
include/
lib/
local.cfg
Makefile
parts/
src/transmogrify.*
src/collective.*
src/plone.*
var/
